
<div ng-controller="CartCtrl" resize-spy class="well sidebar-nav sidebar-nav-fixed" >
    <h3 style="margin-top: 0;">Shopping Cart <i class="icon-shopping-cart icon-large"></i></h3>
    <div ng-show="itemCount == 0">Your cart is empty.</div>

    <div ng-show="itemCount > 0">

        <div style="height: {{(height - 200) + 'px'}}; overflow: hidden">

            <table fixed-header-table ng-controller="CartItemsCtrl" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{itemQuantityTotal()}}</td>
                    <td></td>
                    <td>${{itemPriceTotal()}}</td>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="product in pagedCartItems">
                    <td><a href="#{{product.name | anchor}}" scroll-to>{{product.name}}</a></td>
                    <td>{{product.quantity}}</td>
                    <td>${{product.price * 1 | money}}</td>
                    <td>${{product.price * product.quantity | money}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="pageCount > 100">
            <pagination num-pages="pageCount" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></pagination>
        </div>

        <br>
        <a class="btn btn-info" >Checkout</a>
        <a ng-click="emptyCart()" class="btn btn-danger pull-right" >Empty Cart</a>
    </div>

</div>

